<!DOCTYPE html>
<head>
  <title>MAIN</title>
</head>
<body>
  <div class="main-container">
    <main>
      <div
        class="banner"
        style="background-image: url('../../assets/images/banner1.svg')"
      >
        <p>
          Join the group of our users, find your family and create your story
          together
        </p>
        <a routerLink="/all-families">
          <button>Find family</button>
        </a>
      </div>
      <div class="features">
        <h1>Features</h1>
        <div class="single-feature">
          <i class="fa fa-camera"></i>
          <p>Create galeries of family events</p>
        </div>
        <div class="single-feature">
          <i class="fa fa-pencil"></i>
          <p>Create a chronicle of your family together</p>
        </div>
        <div class="single-feature">
          <i class="fa fa-search"></i>
          <p>Follow Your family's life</p>
        </div>
        <div class="single-feature">
          <i class="fa fa-heart"></i>
          <p>Enjoy the moments together</p>
        </div>
        <div class="single-feature">
          <i class="fa fa-location-arrow"></i>
          <p>Get in touch with Your family members</p>
        </div>
      </div>
      <div
        class="banner"
        style="background-image: url('../../assets/images/banner2.svg')"
      >
        <p>View a list of your families and check what's going on with them!</p>
        <a routerLink="/my-families">
          <button>My families</button>
        </a>
      </div>
    </main>
  </div>
</body>
