<body>
  <div class="main-container">
    <main>
      <div class="navigation">
        <h1 class="title">Find family</h1>
        <nav>
          <ul>
            <li>
              <a (click)="displayInvitationsOfUser()">Invitations</a>
            </li>
          </ul>
        </nav>
        <div class="search_bar">
          <form>
            <input
              type="text"
              [(ngModel)]="searchedSurnames"
              placeholder="Enter surnames divided by space..."
              name="criteria"
            />
            <button (click)="searchBySurnames()">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        <div class="search_bar">
          <form>
            <input
              type="text"
              [(ngModel)]="searchedMember"
              placeholder="Enter user's name and surname divided by space"
              name="criteria"
            />
            <button (click)="searchByMember()">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        <div class="search_bar">
          <form>
            <input
              type="text"
              placeholder="search family by name"
              name="criteria"
              (keyup)="searchByName($event.target.value)"
            />
            <button><i class="fa fa-search"></i></button>
          </form>
        </div>
        <div class="reset">
          <button
            (click)="resetFilters()"
            *ngIf="
              allFamilies &&
              filteredFamilies &&
              allFamilies.length != filteredFamilies.length
            "
          >
            <i class="fa fa-times-circle" aria-hidden="true"></i
            ><span>Reset filters</span>
          </button>
        </div>
      </div>
      <h1
        class="no-families"
        *ngIf="filteredFamilies && filteredFamilies.length == 0"
      >
        We couldn't find any family
      </h1>
      <div class="families">
        <div class="single-family" *ngFor="let family of filteredFamilies">
          <img *ngIf="family.image" src="./assets/{{ family.image }}" />
          <h1>{{ family.name }}</h1>
          <p *ngIf="family.surnames">
            <strong>Surnames: </strong
            >{{
              family.surnames.toString().replaceAll(",", ", ").length > 100
                ? (family.surnames.toString().replaceAll(",", ", ")
                    | slice : 0 : 100) + "..."
                : family.surnames.toString().replaceAll(",", ", ")
            }}
          </p>
          <p>
            <strong>Owner: </strong><span>{{ family.ownerData }}</span>
          </p>
          <div class="description">
            <p><strong>Description: </strong>{{ family.description }}</p>
          </div>
          <div class="details">
            <h3
              id="member-of-family"
              *ngIf="currentUserFamilies && isUserPartOFFamily(family.id)"
            >
              You belong to this family
            </h3>
            <button
              *ngIf="currentUserFamilies && !isUserPartOFFamily(family.id)"
              class="details_button"
              (click)="sendRequest(family.id)"
            >
              Send request
            </button>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
