<body>
  <div class="main-container">
    <main>
      <div class="add_member">
        <p>Add Chronicle</p>
        <a href="/my-families/id/{{ familyId }}/chronicles/add"
          ><i class="fa fa-plus-circle"></i
        ></a>
      </div>
      <h2 class="title">Chronicles</h2>
      <h1
        class="no-families"
        *ngIf="listOfChronicles && listOfChronicles.length == 0"
      >
        We couldn't find any chronicle
      </h1>
      <div class="families">
        <div class="single-family" *ngFor="let chronicle of listOfChronicles">
          <h2>{{ chronicle.name }}</h2>
          <h3>{{ chronicle.date | date : "EEEE, MMMM d, y" }}</h3>
          <div class="details">
            <a
              href="/my-families/id/{{ familyId }}/chronicles/{{
                chronicle.id
              }}"
            >
              <button class="details_button">View</button>
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
