/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.red-snackbar {
    background: #B00020;
}

.green-snackbar {
    background: #bae7d2;
    color: black;
    .mat-simple-snackbar-action {
        color: black !important;
    }
}
